body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin: 0;
}
.container {
    width: 1128px;
    margin: 0 auto;
}



.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px auto;
    gap: 8px;
    color: #808080;
}

input {
    width: 278px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;;
}
input:hover {
    border: 1px solid #000;
}
input:active {
    border: 1px solid #4e75ff;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}

.gallery-item {
    
    position: relative;

    text-align: center;
    border: 1px solid #ddd;
    overflow: hidden;
    width: calc((100% - 2 * 24px) / 3);
    transition: transform 0.3s;
}
.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 360px;
}

.info-elem {
    min-width: 34px;
    max-height: 40px;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    flex-direction: column-reverse;
    padding-top: 4px;
    
}


.loader {
    display: none;
    margin: 0 auto;
    color: #0c6b28;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}